
<!-- main section  -->

<div class="container vh">
    <div class="card mb-3  border-0" >
      <div class="row g-0">
        
        <div class="col-md-6">
          <div class="card-body  ps-5 pt-5">
            <p class="color-2 mb-1">coffee Time...<i class="fa-solid fa-mug-saucer mx-1"></i></p>
            <h1 class="card-title header color-1 mb-4">Enjoy Your <br> Morning <span class="color-2"> Coffee </span> </h1>
            <p class="card-text">Boost your productivity and build your mood with  a glass<br> of  coffee in the morning </p>
            <button class="btn btn-outline-light me-2 " type="submit"  routerLink="cold-drinks">Cold Drinks</button>
            <button class="btn btn-outline-light me-2 " type="submit"  routerLink="hot-drinks">Hot Drinks</button>

            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <img src="../../assets/—Pngtree—vector hot .png" class="w-85" alt="">      </div>
      </div>
    </div>
  
</div>




<!-- <app-contact-us></app-contact-us> -->
<app-aboutcoffee></app-aboutcoffee>