


<div class="d-flex justify-content-center bg-light mt-5">
    <div class="container w-75">
      <h2 class="pb-5 pt-5 text-center mb-5 display-5">Our Branches</h2>
      <!-- First Content Section-->
      <div class="row align-items-center connecting-lines d-flex">
        <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
        </div>
        <div class="col-6">
          <h4>Al Nada Hospital, Beverly Hills</h4>
          <p>Sheikh Zayed City</p>
          <p>Cairo</p>
          <p class="text-muted">Closed - Opens at 7:00 AM </p>
        </div>
      </div>
      <!-- Path Line -->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!-- Second Content Section-->
      <div class="row align-items-center justify-content-end connecting-lines d-flex">
        <div class="col-6 text-right">
            <h4>Arabella Plaza
            </h4>
            <p>New Cairo 3
            </p>
            <p>Cairo</p>
            <p class="text-muted">Closed - Opens at 7:00 AM </p>        </div>
        <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
        </div>
      </div>
      <!-- Path Line -->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!-- Third Content Section -->
      <div class="row align-items-center connecting-lines d-flex">
        <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
        </div>
        <div class="col-6">
            <h4>Cairo Festival City - Ground Floor
            </h4>
            <p>Sheikh Zayed City</p>
            <p>Cairo</p>
            <p class="text-muted">Closed - Opens at 7:00 AM </p>        </div>
      </div>
        <!-- Path Line -->
        <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
        </div>

          <!-- Second Content Section-->
      <div class="row align-items-center justify-content-end connecting-lines d-flex">
        <div class="col-6 text-right">
            <h4>Cairo Festival City - Ground Floor
            </h4>
            <p>Cityscape Mall</p>
            <p>Cairo</p>
            <p class="text-muted">Closed - Opens at 7:00 AM </p>          </div>
        <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
        </div>
      </div>
      <!-- Path Line -->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!-- Third Content Section -->
      <div class="row align-items-center connecting-lines d-flex">
        <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
        </div>
        <div class="col-6">
            <h4>City Stars - Ground Floor</h4>
            <p>Sheikh Zayed City</p>
            <p>Cairo</p>
            <p class="text-muted">Closed - Opens at 7:00 AM </p>          </div>
      </div>

      
      
    </div>
  </div>
