<p>people works!</p>
<div>
    <div id="loader">
        <div class="center">
            <div class="one"></div>
        </div>
    </div>

    <div class="demo" id="wrap">
        <div id="content">
            <section class="process">
                <div class="container">
                    <div class="start">
                        <ul class="row">
                            <li>
                                <div class="left">
                                    <div class="icon">
                                        <i class="pi pi-check"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4>web design </h4>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni cupiditate hic ea, suscipit obcaecati rem beatae, inventore et, iste neque molestiae adipisci quasi a magnam eius ab blanditiis id illum?</p>
                                </div>
                            </li>


                            <li>
                                <div class="left two">
                                    <div class="icon">
                                        <i class="pi pi-times"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4>web design </h4>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni cupiditate hic ea, suscipit obcaecati rem beatae, inventore et, iste neque molestiae adipisci quasi a magnam eius ab blanditiis id illum?</p>
                                </div>
                            </li>



                            <li>
                                <div class="left three">
                                    <div class="icon">
                                        <i class="pi pi-times"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4>web design </h4>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni cupiditate hic ea, suscipit obcaecati rem beatae, inventore et, iste neque molestiae adipisci quasi a magnam eius ab blanditiis id illum?</p>
                                </div>
                            </li>


                            






                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
