
.product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .5rem;
    text-align: center;
    padding: 2rem 0;
}
.product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
.bg{
    background-image: url(../../assets/neeew.svg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    .bg {
height: 600px;
background-position:right;
}
  }
.navbar {
    align-items:flex-start ;
    z-index: 1000;
}
.bg-wood{
    /* background-image: url(../../assets/istockphoto-1330010512-612x612.jpg); */
    height: 100vh;
    width: 90%;
    margin: auto;
    background-size: cover;
    background-position: center center;
box-shadow: 1px 1px 5px gray, -1px -1px 5px rgba(0,0,0,.15);

}

.color-1{
    color: #5E1F13;

}
.color-2{
    color: #C6453E;
}



.btn-outline-light {
    --bs-btn-color: white !important;
    --bs-btn-border-color: #faaf40 !important;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #faaf40 !important;
    --bs-btn-hover-border-color: #faaf40 !important;
    --bs-btn-focus-shadow-rgb: 248,249,250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #faaf40 !important;
    --bs-btn-active-border-color: #faaf40 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #faaf40 !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #faaf40 !important;
    --bs-gradient: none;
}
.btn-outline-orange {
    background-color: transparent;
    border: 1px #faaf40 solid;
    border-radius: 8px;
}
